{% extends "::base.html.twig" %}

{% block content %}

  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="card">
        <div class="card-body">
          <h4 style="text-align: center; margin-bottom: 30px;">Company recognitions</h4>
          {% for recognition in currentRecognitions %}
            {{ include('@Feedback/Recognition/recognition_element.html.twig', {recognition: recognition}) }}
          {% endfor %}

          <!--Pagination-->
          <nav aria-label="pagination example" style="margin-left: 40%;">
            <ul class="pagination pg-blue">
              {% for page in 1..noOfPages %}
                <li class="page-item {% if page == currentPage %}{{ 'active' }}{% endif %}">
                  <a class="page-link" href="{{ url('show_company_recognition_action', {page: page}) }}">{{ page }}
                    {% if page == currentPage %}<span class="sr-only">(current)</span>{% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
{% endblock %}