{% extends "::base.html.twig" %}
{% set container_class = 'user-action-container' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="col-md-4 alert-message-section">
        <p class="alert alert-success">{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
    </div>
{% endblock %}
