{% extends "::base.html.twig" %}
{% set container_class = 'user-action-container' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="col-md-4 alert-message-section">
        <p class="alert alert-danger">{{ 'resetting.password_already_requested'|trans }} Check your email.</p>
    </div>
{% endblock %}
