{% trans_default_domain 'FOSUserBundle' %}

<div class="form-page col-md-4">
    <div class="form-section">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            {% if invalid_username is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
                </div>
            {% endif %}
            <div class="login-fields">
                <input type="text" placeholder="{{ 'resetting.request.username'|trans }}" id="username" name="username" required="required" class="form-control" />
            </div>
            <input type="submit" value="{{ 'resetting.request.submit'|trans }}"  class="form-control btn btn-primary" />
        </form>
    </div>
</div>