{% extends '::base.html.twig' %}

{% block content %}
  <div class = "container">
    <div id = "feedackform">
      <div id = "feedbackformTitle" >
        <p class = "text-primary" style = "font-size: 50px">Feedback form</p>
      </div>
      <ul>
  {% for question in questions %}
    {% if question|length %}
        <li class = "Category" id = "Category1">
          <p class = "text-primary" style = "font-size: 25px;">{{ question[0].abilityLabel }}</p>
          <ol class = "feedbackQuestions">
            {% for rawQuestion in question %}
              <li class = "feedbackQ">
                <p class = "text-dark" style = "font-size: 20px; margin: 10px; margin-left: 20px;" >{{ rawQuestion.text }}</p>
                <ul id = "Rating">
                  <li class = "RatingItem">
                    <div class="em em-worried"></div>
                  </li>
                  <li class = "RatingItem">
                    <div class="em em-slightly_frowning_face"></div>
                  </li>
                  <li class = "RatingItem">
                    <div class="em em-neutral_face"></div>
                  </li>
                  <li class = "RatingItem">
                    <div class="em em-grinning"></div>
                  </li>
                  <li class = "RatingItem">
                    <div class="em em-grin"></div>
                  </li>
                </ul>
              </li>
            {% endfor %}
          </ol>
        </li>
      {% endif %}
  {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}