{% if activeSessions|length %}
  <div class="active-sessions">
      <h2>Give feedback</h2>
      <p>Here you can find all your colleagues you need to send feedback to. Please feel free to express your opinion!</p>
      <table style="width: 100%; text-align: center" class="table">
          <thead class="blue-grey lighten-4">
              <th>Recipient</th>
              <th>Providers</th>
              <th>Actions</th>
          </thead>
          {% for activeSession in activeSessions %}
          <tbody>
                <th>{{ activeSession.to }}</th>
                <th>{{ activeSession.from }}</th>
                <th><i class="fa fa-share-square" aria-hidden="true"></i>
                  <a href="{{ url('feedback_session_handler_action', {id: activeSession.id}) }}">Provide feedback</a>
                </th>
          </tbody>
          {% endfor %}
      </table>
  </div>
{% else %}
  <div class="alert alert-danger" role="alert">
    There are no active feedback session!
  </div>
{% endif %}