<!-- Footer Links -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4" style="margin-top: 30px;">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled text-center py-2">
            <li>
                <h5 class="mb-1">Find out more about the Insider application!</h5>
            </li>
            <li>
                <a href="{{ path('about_page') }}" class="btn btn-outline-white btn-rounded">About</a>
            </li>
        </ul>
        <!-- Call to action -->


    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright: Madalina Laszlo
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->