{% extends '::base.html.twig' %}

{% block content %}
  <div class="card col-md-6 offset-3">
    <div class="card-body">
      <h2>Add a new goal</h2>
      {{ include('@Feedback/Form/add_edit_goal.html.twig', { form: form}) }}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '@FeedbackBundle/Resources/public/js/HandlerGoalForm.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endblock %}