{% extends '::base.html.twig' %}

{% block content %}
  <div class="col-md-6">
    {{ include('@Feedback/Form/add_edit_goal.html.twig', { form: form}) }}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '@FeedbackBundle/Resources/public/js/HandlerGoalForm.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endblock %}