.row{
    margin-left: 0px !important;
    margin-right:0px !important;
}

label.error{
    background-color: #f56954;
    color: #fff;
    padding: 5px 10px;
    margin-top: 2px;
    border-radius: 10px;
}

/**
    UserBundle pages.
 */
.user-action-container{
    background: url("/image/background.jpg");
}
.form-page{
    margin-left: 33%;
    margin-top: 10%;
}
.form-section{
    width: 400px;
    padding: 15px 30px 30px 30px;
    overflow: hidden;
    background-color: #efefef;
}

/**
 Reset password content.
 */
.alert-message-section{
    margin-left: 33%;
    margin-top: 10%;
}

.new-password-field, .new-password-helper{
    margin-bottom: 10px;
}

/**
    Login page elements.
*/
.password-field{
    margin-top: 10px;
}
.login-fields{
    margin-bottom: 10px;
}
.login-button{
    margin-top: 10px;
}

/**
Goal sections.
 */
.progress-bar{
    color: #000;
    font-weight: bold;
}

.goal-element{
    margin-bottom: 15px;
}

.show-all-goals-section .goal-element{
    float: left;
    margin-bottom: 30px;
}

.center-title{
    text-align: center;
}

.recognition-element{
    text-align: center;
    padding-bottom: 20px;
}