{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div id="goals-section"> </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='compiled/js/homepage_page.js' filter="?jsqueeze"
        '@FeedbackBundle/Resources/public/js/GoalSectionController.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}