{% extends '::base.html.twig' %}

{% block content %}
        <div class="offset-md-2 col-md-8 card">
            <div id="sessions-section" class="card-body"> </div>
        </div>
        <div class=" offset-md-2 col-md-8 card" style="margin-top: 30px;">
            <div id="goals-section" class="card-body"> </div>
        </div>
        <div class=" offset-md-2 col-md-8 card" style="margin-top: 30px;">
            <div id="recognitions-section" class="card-body"> </div>
        </div>

        <div class="offset-md-2 col-md-8 card" style="margin-top: 30px; margin-bottom: 30px;">
          <div id="base-chart-section" class="card-body">
            <h2>My evolution</h2>
            <canvas id="base-chart-canvas"></canvas>
          </div>
        </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='compiled/js/homepage_page.js' filter="?jsqueeze"
        '@FeedbackBundle/Resources/public/js/GoalSectionController.js'
        '@FeedbackBundle/Resources/public/js/BasicChart.js'
        '@FeedbackBundle/Resources/public/js/RecognitionSectionController.js'
        '@FeedbackBundle/Resources/public/js/SessionSectionController.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}